<form asp-controller="Home" asp-action="SubmitForm" method="post">
    <div>
        <input type="text" name="firstName" placeholder="prénom" />
    </div>
    <div>
        <input type="text" name="lastName" placeholder="nom" />
    </div>
    <div>
        <button type="submit">Valider</button>
    </div>
</form>